
.margin0 {
	margin: 0px;
}

.margin20 {
	margin: 20px;
}
.bottom5 {
	margin-bottom: 5px;
}

.bottom10 {
	margin-bottom: 10px;
}

.bottom40 {
	margin-bottom: 40px;
}

.r20p {
	margin-right: 20px;
}

.mt20p {
	margin-top: 20px;
}

.pt5p {
	padding-top: 5px;
}

.pb5p {
	padding-bottom: 5px;
}

.pl5p {
	padding-left: 5px;
}

.pl20p {
	padding-left: 20px;
}

.pr20p {
	padding-right: 20px;
}

.pr10p {
	padding-right: 10px;
}

.pr5p {
	padding-right: 5px;
}