.max500 {
	max-width: 500px;
}

.max300 {
	max-width: 300px;
}

.min250 {
	min-width: 250px;
}

.padding20 {
	padding: 20px;
}

.h40 {
	height: 40px;
}

.h100 {
	height: 100%;
}

.border0 {
	border: 0;
}

.wauto {
	width: auto;
}

.w100p {
	width: 100%;
}

.w80p {
	width: 80%;
}

.w70p {
	width: 70%;
}

.w60p {
	width: 60%;
}

.w20p {
	width: 20%;
}

.w50p {
	width: 50%;
}

.w50px {
	width: 50px;
}

.w20px {
	width: 20px;
}

.lined30 input {
	height: 30px;
}

.ls-med {
	line-height: $med-line-height;
}
