$font-stack: Sans-serif;
$bg-color: #F9F9F9;
$bg-color-2: #FCFCFC;
$disabled-color: #DDDDDD;
$disabled-font-color: #777777;
$primary-color: #173C4F;
$primary-contrast-color: white;
$bg-header: white;
$logo-primary-color: #173C4F;
$logo-primary-hover-bg: white;
$danger-color: #CF1F48;
$danger-opp: white;
$info-color: #30779B;
$warn-color: #183C4F;
$fade-color: #CACACA;
$active-color: black;
$success-color: #4FA866;
$failed-color: #4C1817;
$warning-color: #DBDB41;
$font-x-small: 0.8em;
$font-small: 0.9em;
$font-plus: 1.1em;
$font-med: 1.2em;
$font-large: 1.3em;
$font-x-large: 1.5em;
$default-profile-color: green;
$med-line-height: 35px;
$sm-layout-border: 480px;
$med-layout-border: 768px;
$lg-layout-border: 1280px;
