<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

  <title>
    {% if page.title == "Home" %}
      {{ site.tagline }}
    {% else %}
      {{ page.title }} &middot; {{ site.author.name }}
    {% endif %}
  </title>

  <link rel="stylesheet" href="{{ site.baseurl }}css/styles.css">
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=PT+Serif:400,400italic,700%7CPT+Sans:400">
  <link rel="shortcut icon" href="{{ site.baseurl }}favicon.ico">
  <link rel="alternate" type="application/rss+xml" title="RSS" href="/atom.xml">
  <link rel="canonical" href="{{ page.url }}" />
  <script async src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="/bower_components/jquery/dist/jquery.min.js"><\/script>')</script>

</head>
