  {% include head.html %}


<body class="margin0">
	<div class="header bg-white primary-t-color font-large">
		<div id="header-input" class="hide center content-width">
			<input type="text" class="header-line left" placeholder="search">
			<a href="#" onclick="hideSearch();">
				<i class="fa fa-close fade-color right" aria-hidden="true"></i>
			</a>
		</div>
		<div id="header-content" class="center content-width">
			<div class="header-left">
				<a href="/" class="vertical-middle" onclick="openLeftBar()">
					<img src="/img/app-logo.svg" height="40" id="app-logo" class="vertical-middle" />
				</a>
			</div>
			<div onclick="location.href='https://feedrdr.co'" class="pointer cell vertical-middle right header-btn">
				<a href="https://feedrdr.co">Sign up</a>
			</div>
		</div>
	</div>
	<div class="center content-width">
	<div id="blog-content">
		{{content}}
		{% include comments.html %}
	</div>
	</div>

	<div class="footer">
		<ul>
			<li><a href="https://feedrdr.co">RSS Reader</a></li>
			<li><a href="http://github.com/sliechti/feedrdr">GitHub</a></li>
			<li><a href="https://twitter.com/feedrdrco">Twitter</a></li>
			<li><a href="https://www.facebook.com/feedrdr">Facebook</a></li>
		</ul>
	</div>

	{% include ga_data_fetch.html %}

  </body>
</html>
